*,
*::antes,
*::depois{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


section{
    width: 65%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-ajuda{
    width: 65%;
    max-width: 55rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion-item {
    background-color:   whitesmoke;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem;
}

.accordion-link{
    font-size: 2.2rem;
    color: grey;
    text-decoration: none;
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link i{
    color:  dimgray;
    padding: .5rem;
}

.accordion-link .remove{
    display: none;
}

.resposta{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: azure;
    transition: max-height 650ms;
    font-size: 1.5rem;
}

.resposta::before{
    content: "";
    position: absolute;
    width: .1rem;
    height: 90%;
    background-color: red;
    top: 50%;
    left: -0.5%;
    transform: translateY(-50%);
}

.respota p{

    color: black;
    padding: 2rem;
}

.accordion-item:target .resposta{
    max-height: 20rem;
}

.accordion-item:target .accordion-link .addc{
    display: none;
}

.accordion-item:target .accordion-link .remove {
    display: block;
}